@using WebApplication1.Models.CustomModel
@model HomeViewModel

<div>

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">DashBoard</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">
                    <div class="card card-primary fill-width">

                        <div class="card-header border-transparent">
                            <h3 class="card-title">Movie Bind</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                        </div>

                        <div class="card-footer">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-block bg-gradient-primary" data-toggle="modal" data-target="#modalRegister" data-modal-type="AssignUser">Assign</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="card card-primary fill-width">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Persons List</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <table id="userstbl" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Username</th>
                                        <th>Status</th>
                                        <th>Privelage</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var U in Model.UsersList)
                                    {
                                        <tr>
                                            <td>@U.FullName</td>
                                            <td>@U.Username</td>
                                            @if (U.isActive)
                                            {
                                                <td>
                                                    <span class="badge badge-success">Active</span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <span class="badge badge-danger">Unavailable</span>
                                                </td>
                                            }

                                            @if (U.hasPrivelage)
                                            {
                                                <td>
                                                    <span class="badge badge-success">Granted</span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <span class="badge badge-danger">Denied</span>
                                                </td>
                                            }

                                            <td style="display: flex; justify-content: center;">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-warning">Action</button>
                                                    <button type="button" class="btn btn-warning dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <div class="dropdown-menu" role="menu">
                                                        <a class="dropdown-item" href="#">Update</a>
                                                        @if (!U.hasPrivelage)
                                                        {
                                                            <a class="dropdown-item" href="#">Deactivate</a>
                                                        }
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-block bg-gradient-primary" data-toggle="modal" data-target="#modalRegister" data-modal-type="RegisterUser">Register User</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-primary fill-width">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Movie List</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <table id="movietbl" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Genre</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in Model.MovieList)
                                    {
                                        <tr>
                                            <td>@d.MovieName</td>
                                            <td>
                                                <div class="select2-secondary">
                                                    <select class="select2" multiple="multiple" disabled="disabled" style="width: 100%;">
                                                        @foreach (var genreName in d.GenreName.Split(","))
                                                        {
                                                            <option selected>@genreName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </td>
                                            @if (d.IsAvailable)
                                            {
                                                <td>
                                                    <span class="badge badge-success">Available</span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <span class="badge badge-danger">Unavailable</span>
                                                </td>
                                            }
                                            <td style="display: flex; justify-content: center;">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-warning">Action</button>
                                                    <button type="button" class="btn btn-warning dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <div class="dropdown-menu" role="menu">
                                                        <a class="dropdown-item" href="#">Info</a>
                                                        <a class="dropdown-item" href="#">Update</a>
                                                        <a class="dropdown-item" href="#">Deactivate</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-block bg-gradient-primary" data-toggle="modal" data-target="#modalRegister" data-modal-type="RegisterMovie">Register new movies</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>

</div>

@* Modal *@
<div class="modal fade" id="modalRegister">
    <div class="modal-dialog">
        <div class="modal-content bg-secondary">

            <div id="ModalContent">
            </div>

        </div>
    </div>
</div>


<script src="~/lib/plugins/jquery/jquery.min.js"></script>
@* <script src="~/lib/plugins/select2/js/select2.full.min.js"></script> *@
<script src="~/js/personal/IndexScript.js"></script>
<script type="text/javascript">
    var urlMovies = "@Url.Action("RegisterMovie", "Home")";
    var urlPersons = "@Url.Action("RegisterUser", "Home")";
    var urlAssigned = "@Url.Action("AssignedUser", "Home")";

    $(function () {
        window.initScript(urlPersons, urlMovies, urlAssigned);
    });
</script>
