@using WebApplication1.Models.CustomModel
@model HomeViewModel


<div>

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">DashBoard</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">
                    <div class="card card-primary fill-width">

                        <div class="card-header border-transparent">
                            <h3 class="card-title">Movie Bind</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <table id="movietbl" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in Model.MovieList)
                                    {
                                        <tr>
                                            <td>@d.Id</td>
                                            <td>@d.Name</td>
                                            @if (d.IsAvailanble)
                                            {
                                                <td><span class="badge badge-success">Available</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="badge badge-danger">Unavailable</span></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-block bg-gradient-primary" data-toggle="modal" data-target="#modalRegister" data-modal-type="AssignUser">Assign</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="card card-primary fill-width">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Persons List</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                        </div>

                        <div class="card-footer">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-block bg-gradient-primary" data-toggle="modal" data-target="#modalRegister" data-modal-type="RegisterUser">Register User</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-primary fill-width">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Movie List</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                        </div>

                        <div class="card-footer">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-block bg-gradient-primary" data-toggle="modal" data-target="#modalRegister" data-modal-type="RegisterMovie">Register new movies</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>

</div>

@* Modal *@
<div class="modal fade" id="modalRegister">
    <div class="modal-dialog">
        <div class="modal-content bg-secondary">

            <div id="ModalContent">

            </div>

        </div>
    </div>
</div>




<script src="~/lib/plugins/jquery/jquery.min.js"></script>
<script src="~/js/personal/IndexScript.js"></script>
<script type="text/javascript">
    var urlMovies = "@Url.Action("RegisterMovie","Home")";
    var urlPersons = "@Url.Action("RegisterUser","Home")";
    var urlAssigned = "@Url.Action("AssignedUser", "Home")";

    $(function () {
        window.initScript(urlPersons, urlMovies, urlAssigned);
    });
</script>

@* <script>
    $(function () {

        $("#movietbl").DataTable({
            // "responsive": true, "lengthChange": false, "autoWidth": false,
            // "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            "responsive": false, "lengthChange": true, "autoWidth": true
        }).buttons().container().appendTo('#movietbl_wrapper .col-md-6:eq(0)');




    });
</script>
 *@